@media (max-width: 850px) {
    .note-list {
        display: flex;
        flex-direction: column;
        width: 90%;
        align-items: center;
    }
    .note-preview-container {
        width: 100%;
    }
}

@media(max-width: 600px) {
    .note-create {
        width: 100%;
    }
    .form-element {
        width: 100%;
    }
    .note-list {
        width: 90%;
    }
}

@media (min-width: 600px) {
    .note-create {
        width: 80%;
    }
    .note-input {
        width: 500px;
    }
    .note-list {
        width: fit-content;
    }
}

@media (min-width: 850px) {
    .note-list {
        columns: 350px 2;
    }
    .note-preview-container {
        width: 350px;
    }
}

@media (min-width:1280px) {
    .note-list {
        columns: 350px 3;
    }
}

@media (min-width: 1600px) {
    .note-list {
        columns: 350px 4;
    }
}