.modal {
    width: 400px;
    height: 600px;
    background-color: var(--clr2);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    overflow-y: scroll;
    padding:0px 20px;
    border-radius: 10px;
}

.modal>button {
    align-self: flex-end;
    color: white;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
    font-size: 30px;
    margin-top: 10px;
}

.modal>button:hover {
    color: rgb(175, 175, 175);
}

.modal-container>* {
    margin: 20px;
    text-align: center;
}

.modal-container h2 {
    margin: 0;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity .5s !important;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s linear 300ms, opacity 300ms;
}

.modal h2{
    margin-bottom: 30px;
}

.user-msg {
    position: fixed;
    bottom: -100px;
    right: 10px;
    background-color: var(--clr3);
    color: #ececec;
    padding: 10px;
    z-index: 10;
    border-radius: 10px;
}

.user-msg.open {
    bottom: 10px;
    transition: bottom 0.5s;
}

