.note-input {
    margin: auto;
    margin-bottom: 30px;
    width: fit-content;
    height: fit-content;
    /* border: 3px solid black; */
}

.note-input p {
    cursor: pointer;
}

.note-list-item {
    margin-bottom: 5px;
    left: 20px
}

.delete-btn {
    border: none;
    background: url(/lib/assets/images/icons/trash.svg);
    height: 20px;
    width: 20px;
}

.add-btn {
    margin-bottom: 5px;
    background: url(/lib/assets/images/icons/plus.svg);
    height: 50px;
    width: 50px;
    border: none;
}

.note-create {
    outline: 1px solid black;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-def);
}

.form-element {
    width: 500px;
    margin: 12px 16px 0px 16px;
    /* width: 60%; */
    letter-spacing: .01428571em;
    font-family: roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    border: none;
    outline: none;
}

.list-item {}

.form-input {
    outline: none;
    border: none;
    font-family: roboto, Arial, sans-serif;
    width: 400px;
}

.note-create input {
    background-color: var(--color-def);
}

.note-create textarea {
    outline: none;
    border: none;
    font-family: roboto, Arial, sans-serif;
    width: 100%;
    resize: none;
}