.main {
    position: relative;
    align-self: center;
    margin-left: 10vw;
    width: 90vw;
    min-height: 65vh;
    padding: 20px;
}

.note-list {
    position: absolute;
    width: 100%;
    display: inline-block;
    height: 100%;
    columns: 350px 4;
}

.neat-pre {
    font-family: roboto, Arial, sans-serif;
    white-space: pre-wrap;
}

.note-preview-container {
    position: relative;
    break-inside: avoid-column;
    transition: all 0.2s ease-in-out;
    margin: 0;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    text-align: left;
    letter-spacing: .01428571em;
    font-family: roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    width: 350px;
    height: fit-content;
    min-height: 120px;
    margin-bottom: 10px;
    padding: 12px 16px;
}

.note-content>* {
    margin-top: 10px;
    max-width: 100%;
}

.note-content {
    padding-bottom: 20px;
}

.note-preview-container:hover {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    /* box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.29); */
    cursor: pointer;
}

.neat-p {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 0;
}

.note-preview-container:hover>.actions {
    opacity: 100%;
    transition: all 0.2s ease-in-out;
}

.note-preview-container .actions {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-evenly;
    opacity: 0%;
    transition: all 0.2s ease-in-out;
}

.note-preview-container .actions a {
    text-decoration: none;
    color: black
}

.def {
    background-color: var(--color-def);
}

.red {
    background-color: var(--color-red);
}

.blue {
    background-color: var(--color-blue);
}

.orange {
    background-color: var(--color-orange);
}

.darkblue {
    background-color: var(--color-darkblue);
}

.lightblue {
    background-color: var(--color-lightblue);
}

.brown {
    background-color: var(--color-brown);
}

.purple {
    background-color: var(--color-purple);
}

.pink {
    background-color: var(--color-pink);
}

.green {
    background-color: var(--color-green);
}

.yellow {
    background-color: var(--color-yellow);
}

.gray {
    background-color: var(--color-gray);
}