.main {
    width: 60vw;
    height: 70vh;
    margin: 0 auto;
}

.note-list {
    align-self: center;
    display: inline-block;
    height: 100%;
    margin: 0 auto;
    columns: 238px 10;
}

.neat-pre {
    font-family: roboto, Arial, sans-serif;
    width: 100%;
}

.note-preview-container {
    position: relative;
    break-inside: avoid-column;
    transition: all 0.2s ease-in-out;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    text-align: left;
    width: 238px;
    letter-spacing: .01428571em;
    font-family: roboto, Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    height: fit-content;
    min-height: 150px;
    padding: 12px 16px;
    /* margin-top: 00px; */
}

.note-content>* {
    margin-top: 10px;
}

.note-content {
    padding-bottom: 20px;
}

.note-preview-container:hover {
    transition: all 0.2s ease-in-out;
    overflow: hidden;
    /* box-shadow: 0px 0px 15px 8px rgba(0, 0, 0, 0.29); */
    cursor: pointer;
}

.neat-p {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 0;
}

.note-preview-container:hover>.actions {
    opacity: 100%;
    transition: all 0.2s ease-in-out;
}

.note-preview-container .actions {
    /* margin-top: 20px; */
    display: flex;
    justify-content: space-evenly;
    opacity: 0%;
    transition: all 0.2s ease-in-out;
}

.note-preview-container .actions a {
    text-decoration: none;
    color: black
}