.mail-details-container{
    width: 80vw;
    margin: 0 auto;
    min-width: 300px;
    max-width: 800px;
    height: 60vh;
    padding: 25px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--clr-mail-unread-mail);
    overflow-y: scroll;
}

.mail-details-container .sum-subject{
}

.mail-head{
    margin-top: -15px;
}
