.mail-summery, .summery-container>*{
    margin: 0;
    padding: 0;
}

.mail-summery .summery-container{
    height: 250px;
    overflow-y: scroll;
    background-color: rgba(211, 211, 211, 0.25);
    box-shadow: 0px 5px 10px -1px rgba(0,0,0,0.75);
}

.sum-subject{
    text-transform: capitalize;
    font-size: 30px;
    grid-column: 1 / span 8;
    margin: 15px;
}

.summery-container .sent-at{
    grid-column: 9 / span 2;
    text-align:end ;
    margin-inline-end: 10px;
}

.summery-head{
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
    grid-template-rows: 1;
    grid-template-columns: repeat(10,1fr);
}

.sum-from-name{
    text-transform: capitalize;
    padding-inline-start: 20px;
    padding-inline-end: 5px;
}

.sum-from-address, .sum-from-name{
    font-weight: 600;
}

.sum-to{
    margin-top: -5px;
    padding-inline-start: 20px;

}

.sum-body{
    margin: 20px;
}

.mail-summery .read-more{
    font-size: 12px;
    text-transform: capitalize;
    width: 90px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    background-color: #6b6b6be7;
    color: white;
    border: none;
}

.mail-summery .read-more:hover{
    background-color: #000000d3;
}