.folder-list-container{
    width: 200px;
}

.folder-list-container p, .btn-compose{
    margin: 0;
    height: 35px;
    /* font-size: 100px; */
    /* background-color: var(--clr-mail-folder-active-bg); */
    /* color: var(--clr-mail-folder-active-font); */
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    text-transform: uppercase;
    /* font-weight: bolder; */
    cursor: pointer;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);    
    transition: background-color.3s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    font-family: sansLight;
    font-size: 15px;  

}

.folder-list-container p:not(:nth-child(2)):hover, .btn-compose:hover{
    background-color: var(--clr-mail-read-mail) ;
    /* transition: background-color .2s ease-in-out; */
}

.folder-list-container p:nth-child(2):hover{
    background-color: var(--clr-mail-folder-active-bg);
    color: var(--clr-mail-folder-active-font);
    /* transition: background-color .2s ease-in-out; */
}
.folder-list-container p:hover, .btn-compose:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);    

    /* transition: background-color .2s ease-in-out; */
}

.folder-list-container i{
    margin: 0 10px;
    transition: all .3 ease-in-out;

}

.folder-list-container p{
 

}

.folder-list-container i{
    color: var(--clr-mail-icon);

}

.folder-list-container p:nth-child(2){
    font-family: sansBold;
}

.folder-list-container .active{
    background-color: var(--clr-mail-read-mail);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);    
    font-family: sansBold;
}

.folder-list-container .active-inbox{
    background-color: var(--clr-mail-folder-active-bg);
    color: var(--clr-mail-folder-active-font);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);    
}

.folder-list-container .active-inbox-icon{
    color: var(--clr-mail-folder-active-font);
}

.mail-unread-icon{
    /* transition: all .3 ease-in-out; */
}

.mail-unread-amount{
    margin-inline-start: 90px;
}

.btn-compose{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.267);
    margin-bottom: 5px;
    /* padding: 5px;
    border-radius: 0px 50px 50px 0px;
    font-family: sansLight;
    font-size: 15px; */
}

.btn-compose img{
    width: 20px;
    height: 20px;
    margin-inline-end: 10px;
}


.btn-compose:hover{
    font-family: sansRegular;
}
