.mail-preview{
    height: 50px;
    /* overflow: hidden; */
    /* background-color: lightgray; */
    /* margin: 1px; */
    /* background-color: rgba(236, 10, 10, 0); */
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.199);
    /* padding: 10px; */
}

.mail-star{
    color: rgb(78, 78, 78);
    grid-column: 1 / span 1;
    /* width: 0vw; */
    text-align: center;
}

.mail-actions div{
    /* width: 10vw; */
      
}

.mail-archive, .mail-read, .mail-trash{
    color: rgb(78, 78, 78);
    margin: 0 10px;
    padding: 7px;
    /* background-color: gray; */
    border-radius: 50%;
}

.mail-star:hover, .mail-star.starred{
    color: goldenrod;
}


.mail-preview:hover{
    background-color: rgb(211, 211, 211);
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.25);

    /* font-size: 18px; */
    
}

.mail-container{
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1;
    /* align-items: center; */
}

.mail-body{
    /* white-space: nowrap;  */
    /* width: 40vw;  */
    /* overflow: hidden;
    text-overflow: ellipsis; */
    /* margin-inline-start: 20px; */
    grid-column: 5 / span 4 ;
    font-weight: lighter;
}

.mail-subject{
    /* margin-inline-end: 20px; */
    /* text-align: center; */
    /* width: 20vw; */
    grid-column: 3 / span 2 ;
   
}

.mail-from{
    /* width: 10vw; */
    /* margin-inline-start: 200px; */
    grid-column: 2 / span 1 ;
    text-transform: capitalize;
}
.mail-body, .mail-subject, .mail-from{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
    padding-inline-end: 10px;
    /* text-align: center; */

}

.mail-date, .mail-actions{
    grid-column: 9/ span 2;
    text-align: center;
}
.unread{
    font-weight: bold;
}

.read{
    font-weight: lighter;
    background-color: rgba(211, 211, 211, 0.589);

}

.mail-archive:hover{
    color: white;
    background-color: rgb(150, 75, 14);
}

.mail-read:hover{
    color: white;
    background-color: rgb(66, 102, 219);
}

.mail-trash:hover{
    color: white;
    background-color: rgb(204, 4, 4);
}